@model GasMeter_MS.Models.Tree

@{
    ViewBag.Title = "地址管理 ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/jstree/dist/themes/default/style.css" />
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.JsonString)

}
<div class="col-sm-12 col-md-10">
    <div class="portlet red-pink box" ng-controller="BranchTreeController">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>@ViewBag.Title
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                </a>
                <a href="javascript:;" class="reload" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="tree_3" class="tree-demo">
            </div>
            <div class="alert alert-success  no-margin margin-top-10">
                已处于编辑态！支持拖动和右键菜单。
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/plugins/jstree/dist/jstree.js"></script>
    <script>
        angular.module("app", []).controller("BranchTreeController", function ($scope) {
            $scope.name = "haha!";
        });
        $("#tree_3").jstree({
            "core": {
                "themes": {
                    "responsive": false
                },
                // so that create works
                "check_callback": true,
                'data': [{
                    "text": "重庆市",
                    "icon": "icon icon-map  icon-state-success",
                    "children": [{
                        "text": "江北区",
                        "icon": "fa fa-building  icon-state-danger",
                        "state": {
                            "selected": true
                        }
                    }, {
                        "text": "沙坪坝区",
                        "icon": "fa fa-building  icon-state-danger"
                    }, {
                        "text": "巴南区",
                        "icon": "fa fa-building icon-state-success",
                        "state": {
                            "opened": true
                        },
                        "children": [
                            { "text": "重庆理工大学", "icon": "icon icon-graduation icon-state-warning" }
                        ]
                    },{
                        "text": "南川区",
                        "icon": "fa fa-building icon-state-success",
                        "state": {
                            "opened": true
                        },
                        "children": [
                            { "text": "南十路22号", "icon": "glyphicon glyphicon-tree-conifer icon icon-graduation icon-state-warning" }
                        ]
                    }]
                }, {
                    "text": "未命名",
                    "icon": "icon icon-map  icon-state-success"
                }]
            },
            "types": {
                "default": {
                    "icon": "fa fa-certificate icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file fa-building-o icon-lg"
                }
            },
            "state": { "key": "demo2" },
            "plugins": ["contextmenu", "dnd", "state", "types"],
        });
        console.log($("#tree_3").jstree().get_json('#j1_1'));
    </script>
}
